@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter+Tight:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:wght@100;300;400;500;600;700&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Instrument Serif', serif;
    font-family: 'Inter Tight', sans-serif;
}

ul,
li,
ol,
a {
    list-style: none;
    text-decoration: none;
}


.app {
    width: 1920px;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapper {
        width: 100%;

        .book--detail {
            width: 100%;
            min-height: 835px;
            display: grid;
            grid-template-columns: 1fr 2fr;


            padding-top: 126px;

            .book--title {
                grid-column: 1 / span 1;

                h3 {
                    font-family: Instrument Serif;
                    margin-left: 113px;
                    width: 182px;
                    height: 110px;
                    color: #000;
                    font-size: 50px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 55px;
                    letter-spacing: -0.5px;
                }
            }


            .book--col {
                grid-column: 2 / span 2;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            .book--chapter {

                .book--chapter-wrap {
                    padding: 19px 0;
                    border-top: 1px solid #D9D9D9;
                    cursor: pointer;

                    &:last-child {
                        border-bottom: 1px solid #D9D9D9;

                    }
                }

                .chapter-head {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .active--color {
                        color: #1A1A1A;
                    }

                    .rotate-180 {
                        transform: rotate(180deg);
                    }

                    p {
                        color: #A0A0A0;
                        font-family: Inter Tight;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 20px;
                        text-transform: uppercase;

                        &:last-child {
                            transform: rotate(180deg);
                        }
                    }


                }

                .chapter--content {
                    margin-top: 17px;
                    display: grid;
                    gap: 14px;


                    li {
                        width: 337px;
                        color: #616161;
                        font-family: Inter Tight;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 27px;
                        letter-spacing: 0.48px;
                    }

                    span {
                        color: #A0A0A0;
                        font-family: Inter Tight;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 19px;
                        letter-spacing: 0.3px;
                        margin-right: 4px;
                    }


                }

                .chapter--hidden {
                    display: none;
                }
            }

            .book--img {
                width: 535px;
                height: 610px;
                background: url('https://res.cloudinary.com/dclafzgo9/image/upload/v1701999171/test_company/image_120_ldbvxy.png') lightgray 50% / cover no-repeat;
            }
        }
    }
}



@media only screen and (max-width: 638.99px) {

    .app {
        width: 100%;

        .wrapper {
            width: 100%;
            padding: 0 16px 24px 16px;

            .book--detail {
                padding-top: 46px;
                grid-template-columns: repeat(1, 1fr);
                gap: 24px;

                .book--title {
                    grid-column: 1 / span 1;
                    width: 100%;

                    h3 {
                        font-size: 42px;
                        height: unset;
                        width: 100%;
                        text-align: center;
                        margin-left: 0;
                    }
                }

                .book--col {
                    grid-column: 1 / span 1;

                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 32px;
                }

                .book--chapter {
                    .chapter-head {
                        p {
                            font-size: 15px;
                        }
                    }

                    .chapter--content {
                        li {
                            font-size: 14px;
                        }
                    }
                }

                .book--img {
                    width: 100%;
                    height: 400px;
                    background: url('https://res.cloudinary.com/dclafzgo9/image/upload/v1701999171/test_company/image_120_ldbvxy.png') lightgray 50% / cover no-repeat;
                }
            }
        }
    }

}

@media (min-width: 640px) and (max-width: 1068px) {

    .app {
        width: 100%;

        .wrapper {
            width: 100%;
            padding: 0 16px 24px 16px;

            .book--detail {
                padding-top: 46px;
                grid-template-columns: repeat(1, 1fr);
                gap: 24px;

                .book--title {
                    grid-column: 1 / span 1;
                    width: 100%;

                    h3 {
                        font-size: 42px;
                        height: unset;
                        width: 100%;
                        text-align: center;
                        margin-left: 0;
                    }
                }

                .book--col {
                    grid-column: 1 / span 1;

                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 32px;
                }

                .book--chapter {
                    .chapter-head {
                        p {
                            font-size: 15px;
                        }
                    }


                    .chapter--content {
                        li {
                            font-size: 14px;
                        }
                    }
                }

                .book--img {
                    width: 100%;
                    height: 584px;
                    background: url('https://res.cloudinary.com/dclafzgo9/image/upload/v1701999171/test_company/image_120_ldbvxy.png') lightgray 50% / cover no-repeat;
                }
            }
        }
    }
}